/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
	}
	
	h1, h2, h3, h4, p, a {
		font-family:"helvetica" arial sans-serif;
	}
	
	#mobile_container {
		width:460px;
		display:block;
		padding-left:10px;
		padding-right:10px;
	}

	.mobile_header h1 {
		font-size:20px;
		color:#fff;
		padding-bottom:5px;
		text-align:center;
		font-family:"helvetica" arial sans-serif;
	}

	.mobile_header span {
		font-size:20px;
	}

	.mobile_header {
		border-bottom:1px solid #000;
		background-color:#020e26;
		padding-top:15px;
	}
	
	.mobile_info {
		padding-top:20px;
		padding-bottom:20px;
		background-image:url("../images/background.png");
		box-shadow:inset 0px 0px 10px #515151;
		-webkit-box-shadow:inset 0px 0px 10px #515151;
	}
	
	.mobile_info p {
		color:#000;
		font-size:18px;
		line-height:26px;
		text-shadow:1px 0px 0px #fff;
		font-family:"helvetica" arial sans-serif;
		padding-bottom:15px;
	}

	.mobile_header img {
		margin-top:10px;
		width:169px;
		margin:0 auto;
		display:block;
		margin-bottom:2px;
	}
	
	.mobile_link {
	}
	
	.mobile_link a {
		color:#fff;
		text-shadow:0px -1px 0px #000;
		text-decoration:none;
		font-weight:bold;
		font-family:"helvetica" arial sans-serif;
	}
	
	.mobile_info input {
		width:250px;
		display:block;
		margin:0 auto;
		padding-left:10px;
		padding-right:10px;
		padding-top:6px;
		padding-bottom:6px;
		font-size:22px;
		font-family:"helvetica" arial sans-serif;
		color:#515151;
	}
	
	.questions {
		background-image:url("../images/lime_button.png");
		background-color:#4c9e49;
		color:#fff;
		border-top:1px solid #54b648;
		border-left:1px solid #54b648;
		border-right:1px solid #54b648;
		border-bottom:1px solid #387930;
		text-shadow:0px 1px 2px #000;
		box-shadow:0px 1px 2px #515151;
		-moz-box-shadow:0px 1px 2px #515151;
		-webkit-box-shadow:0px 1px 2px #515151;
		text-align:center;
		text-decoration:none;
		font-weight:bold;
		width:270px;
		margin:0 auto;
		display:block;
		padding:8px 0px;
		margin-top:15px;
		margin-bottom:10px;
	}
	
	.info {
		text-align:center;
		color:#898989;
		display:block;
	}
	
	.mobile_footer p {
		color:#fff;
		text-align:center;
		padding-top:20px;
		padding-bottom:15px;
		font-family:"helvetica" arial sans-serif;
	}
	
	.mobile_footer {
		background-color:#020e26;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}